.profile-content {
	background: rgba(255, 255, 255, 0.9);
    border-radius: 7px;
    padding: 20px; 
    width: 500px;
    height: 350px;
    margin:0 auto;
    margin-top: 50px;
    background-color: white;
}

.sidebar {
	position: fixed;
    width: 100px;
    height: 35px;
    background-color: rgba(255,0,0,0.6);
    right: 0px;
    bottom: 8%;
    color: white;
    text-align: left;

}

.alertBar {
    /*color: white;*/
    /*background-color: rgba(127,255,0, 0.6)*/
    /*width: 500px;*/
    position: absolute; 
    z-index:1000;
    top: 50%;
    left: 40%;
    height: 50px;
    width: 300px;
}