<section ng-controller="homeCtrl" ng-init="load()" class="main container">
	<h1>Top Rated Courses</h1>
		<div>
			<input id="myInput" type="text"  ng-keyup="search()" ng-model="result" placeholder="Search for course names..">
		</div>

  		<div class="row content">
	    	<div class="col-sm-12 text-left" id="commentBlock"> 
	      		<table class="table" id="myTable">
				    <thead>
				    	<tr class="header">
				        	<th style="width:20%;">Code</th>
				        	<th style="width:40%;">Name</th>
				        	<th style="width:20%;">Difficulty</th>
				        	<th style="width:20%;">Overall Score</th>
				      	</tr>
				    </thead>
				    <tbody>
				    	<tr ng-repeat="course in courses" class="table-content" ng-click=gotoCourse(course.cID)>
					    	<td>{{ course.cID }}</td>
					    	<td>{{ course.cName }}</td>
					    	<td>{{ course.diff }}</td>
							<td style="color: #FF8C00"><b>{{ course.RecLv}}</b></td>
						</tr>
				    </tbody>
				</table>
		    </div>

  		</div>
</section>